li.list-group-item
  .form-group(id="defaultNotifyPanel")
    a.badge.badge-primary(
      data-toggle="collapse",
      href="#editNotify",
      aria-expanded="false",
      aria-controls="editNotify"
    )|Default Notification Location
    .collapse(
      id="editNotify"
      )
      span.text-primary.mt-3(
        id="currentSettingsNotify"
      )
      .small.mt-3
        |Choose a default location for notifications from the bot-user. Choose between a channel, a group, or a direct message to a user. Add the bot user to the desired channel or direct message in Slack first.
      .small.mt-3
        b Channels
        +space
        |include non-private channels where the bot user has already been
        |invited (is a member of the channel).
      .small.mt-3
        b Groups
        +space
        |include private channels where the bot user has already been
        |invited (is a member of the channel).
      .small.mt-3
        b Users
        +space
        |include direct messages already open between users and the bot.
      .btn-group.mt-3(data-toggle="buttons")
        label.btn.btn-outline-primary(id="radioChannel")
          input(type="radio")
          |Channel
        label.btn.btn-outline-primary(id="radioGroup")
          input(type="radio")
          |Group
        label.btn.btn-outline-primary(id="radioUser")
          input(type="radio")
          |User
      .progress.hidden-xs-up.mt-3(id="progressDefaultNotifications")
        .progress-bar.progress-bar-striped.progress-bar-animated(
          role="progressbar", aria-valuenow="100", aria-valuemin="0",
          aria-valuemax="100", style="width: 100%"
        )
      .input-group.hidden-xs-up.mt-3(id="inputChannels")
        .input-group-addon.bg-faded.text-primary(
          style="border-color: blue;"
        )
          |Channels
        select.form-control.bg-faded.text-primary(
          id="defaultChannelSelect",
          style="border-color: blue;",
          type="text"
        )
        .input-group-addon.btn.btn-outline-primary.bg-faded(
          id="saveSlackDefaultNotifyChannel",
          style="border-color: blue;"
        )
          |Save

      .input-group.hidden-xs-up.mt-3(id="inputGroups")
        .input-group-addon.bg-faded.text-primary(
          style="border-color: blue;"
        )
          |Groups
        select.form-control.bg-faded.text-primary(
          id="defaultGroupSelect",
          style="border-color: blue;",
          type="text"
        )
        .input-group-addon.btn.btn-outline-primary.bg-faded(
          id="saveSlackDefaultNotifyGroup",
          style="border-color: blue;"
        )
          |Save

      .input-group.hidden-xs-up.mt-3(id="inputUsers")
        .input-group-addon.bg-faded.text-primary(
          style="border-color: blue;"
        )
          |Users
        select.form-control.bg-faded.text-primary(
          id="defaultUserSelect",
          style="border-color: blue;",
          type="text"
        )
        .input-group-addon.btn.btn-outline-primary.bg-faded(
          id="saveSlackDefaultNotifyUser",
          style="border-color: blue;"
        )
          |Save
      #saveSlackNotifyAlert
