.badge.badge-info.float-right(
  data-toggle="popover",
  data-placement="left",
  data-container="body",
  data-html="true",
  title="Slack Token",
  data-content="<div align='left'>Enter a Slack bot-user token here and click <b>Save</b>. If a token has been previously saved, it will be automatically populated here to allow for changes.</div>",
  data-animation="true",
  data-trigger="hover"
  )
  |?
