.badge.badge-info.float-right(
  data-toggle="popover",
  data-delay={ "show": 50, "hide": 1500 },
  data-placement="left",
  data-container="body",
  data-html="true",
  title="<div align='left'>Enter the motionEye conf files location here and click <b>Save</b>. If a location has been previously saved, it will be automatically populated here to allow for changes.</div>"
  )
  |?
