.collapse(
  id="editMotionConf"
  )
  .input-group.mt-3(id="slackTokenInputGroup")
    input.form-control.bg-faded.text-primary(
      id="motionConf",
      style="border-color: blue; font-family: monospace;",
      type="text",
      placeholder="e.g. /mnt/4tb/motion/settings"
      )
    .input-group-addon.btn.btn-outline-primary.bg-faded(
      id="saveToken",
      style="border-color: blue;"
      )
      |Save
  .mt-3.mb-0#saveSlackTokenAlert
  .mt-3.mb-0#restartSlackTokenAlert
