.badge.badge-info.float-right(
  data-toggle="popover",
  data-placement="left",
  data-container="body",
  data-html="true",
  title="Notifications",
  data-content="<div align='left'>Set the default recipient for the bot-user to send notifications. Choose between a channel, a group (private channel), or a user (direct message). You must add the bot user to the desired channel or direct message in Slack first.</div>",
  data-animation="true",
  data-trigger="hover"
  )
  |?
